@charset "UTF-8";
/* line 1, ../sass/main.scss */
body {
  min-height: 2000px;
  box-sizing: border-box;
}

/* line 6, ../sass/main.scss */
* {
  box-sizing: inherit;
}

/* line 10, ../sass/main.scss */
section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* line 17, ../sass/main.scss */
.spacer {
  margin-top: 0.25vh;
  width: 100%;
}

/* line 22, ../sass/main.scss */
.trigger {
  width: 100%;
  height: 1px;
  background: red;
}

/* line 30, ../sass/main.scss */
#title-screen .content-wrapper {
  padding: 5em;
  text-align: center;
}
/* line 35, ../sass/main.scss */
#title-screen .mind-the-gap {
  display: inline-block;
  text-align: center;
  width: 350px;
}
/* line 41, ../sass/main.scss */
#title-screen .mind-the-gap .symbol {
  margin-bottom: 3em;
  position: relative;
}
/* line 46, ../sass/main.scss */
#title-screen .mind-the-gap .symbol .circle {
  border: 60px solid blue;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
/* line 52, ../sass/main.scss */
#title-screen .mind-the-gap .symbol .line {
  background: red;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -25%;
  text-align: center;
  font-size: 2em;
  line-height: 80px;
  margin-top: -40px;
  height: 80px;
  width: 150%;
}

/* line 74, ../sass/main.scss */
#hello .name-tag {
  position: relative;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  top: 40%;
  margin-top: -175px;
  height: 350px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: 5px solid red;
  overflow: hidden;
}
/* line 91, ../sass/main.scss */
#hello .name-tag header {
  background-color: red;
  font-size: 25px;
}
/* line 94, ../sass/main.scss */
#hello .name-tag header h1, #hello .name-tag header h2 {
  color: #fff;
  margin: 0;
  padding: 5px;
  text-align: center;
}
/* line 102, ../sass/main.scss */
#hello .name-tag .name-wrapper {
  width: 100%;
  text-align: center;
}
/* line 107, ../sass/main.scss */
#hello .name-tag .name-wrapper .name {
  margin-top: 2em;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
/* line 114, ../sass/main.scss */
#hello .name-tag .name-wrapper .letter {
  font-size: 140px;
  display: inline-block;
  position: relative;
  top: 2em;
}

/* line 124, ../sass/main.scss */
#build {
  background: #94D0BC;
}
/* line 128, ../sass/main.scss */
#build .gears {
  padding-top: 25vh;
  text-align: center;
}
/* line 133, ../sass/main.scss */
#build .gear {
  width: 25vh;
  height: 25vh;
  margin-right: -6.5vh;
  background-size: 100%;
  display: inline-block;
}
/* line 140, ../sass/main.scss */
#build .gear:nth-child(2n) {
  transform: rotate(22deg);
}
/* line 144, ../sass/main.scss */
#build .gear:last-child {
  margin-right: 0;
}
/* line 149, ../sass/main.scss */
#build .gear path {
  fill: #C4E0AC;
}
/* line 154, ../sass/main.scss */
#build .copy {
  width: 100%;
  left: -150%;
  position: absolute;
  text-align: center;
  line-height: 25vh;
  font-size: 15vh;
  white-space: nowrap;
}
/* line 164, ../sass/main.scss */
#build .container {
  max-height: 750px;
}

/* line 169, ../sass/main.scss */
#responsive {
  min-height: 10000px;
  position: relative;
}
/* line 177, ../sass/main.scss */
#responsive .webpage-wrapper {
  position: absolute;
}
/* line 181, ../sass/main.scss */
#responsive .webpage {
  position: absolute;
  border: 2px solid black;
  width: 50vw;
  height: 450px;
  background-color: #CBE9FC;
  overflow: hidden;
  box-sizing: border-box;
  transform-origin: 0 0 0;
  transition: border-radius 0.5s ease;
}
/* line 195, ../sass/main.scss */
#responsive .webpage .container {
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  max-width: 400px;
  padding: 2%;
  box-shadow: 0px 0px 10px -2px #000;
  text-align: center;
  transition: padding 0.5s ease;
}
/* line 206, ../sass/main.scss */
#responsive .webpage .logo {
  background-color: #88BEBE;
  height: 100px;
  width: 100%;
}
/* line 212, ../sass/main.scss */
#responsive .webpage ul.menu {
  list-style: none;
  height: 30px;
  margin: 5% 1%;
  padding: 0;
}
/* line 219, ../sass/main.scss */
#responsive .webpage ul.menu li {
  width: 15%;
  height: 100%;
  background: #6E96BB;
  display: inline-block;
}
/* line 227, ../sass/main.scss */
#responsive .webpage .box {
  width: 100px;
  height: 100px;
  background-color: #F0D9B4;
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
}
/* line 236, ../sass/main.scss */
#responsive .webpage .text {
  padding: 5% 20%;
}
/* line 240, ../sass/main.scss */
#responsive .webpage .row-text {
  padding-top: 5%;
  border-bottom: 2px solid #898266;
}
/* line 247, ../sass/main.scss */
#responsive .webpage.ipad-width .container {
  padding-top: 32px;
}
/* line 251, ../sass/main.scss */
#responsive .webpage.ipad-width .logo {
  height: 50px;
}
/* line 255, ../sass/main.scss */
#responsive .webpage.ipad-width ul.menu {
  height: 15px;
}
/* line 261, ../sass/main.scss */
#responsive .webpage.imac-width .container {
  padding-top: 36px;
}
/* line 266, ../sass/main.scss */
#responsive .webpage.iphone-width {
  border-radius: 10px;
}
/* line 270, ../sass/main.scss */
#responsive .webpage.iphone-width .logo {
  height: 50px;
}
/* line 272, ../sass/main.scss */
#responsive .webpage.iphone-width .logo:after {
  display: inline-block;
  float: right;
  content: '☰';
  margin-top: 1.5em;
  margin-right: 10px;
  font-size: 1.1em;
  color: #fff;
}
/* line 283, ../sass/main.scss */
#responsive .webpage.iphone-width .box {
  height: 20px;
}
/* line 287, ../sass/main.scss */
#responsive .webpage.iphone-width ul.menu {
  display: none;
}
/* line 292, ../sass/main.scss */
#responsive .webpage.ipad-width, #responsive .webpage.imac-width {
  border-radius: 10px;
}
/* line 297, ../sass/main.scss */
#responsive .ipad-wrapper, #responsive .imac-wrapper, #responsive .iphone-wrapper {
  position: fixed;
  top: 0;
  left: 0;
}
/* line 303, ../sass/main.scss */
#responsive .imac {
  width: 690px;
  height: 420px;
  border: 32px solid #3b404a;
  content: '';
  display: block;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: 0 0 0;
}
/* line 315, ../sass/main.scss */
#responsive .imac:after {
  width: 690px;
  position: absolute;
  top: 388px;
  height: 70px;
  background: #e8eaef;
  display: block;
  content: '';
  left: -32px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 330, ../sass/main.scss */
#responsive .ipad {
  border-radius: 10px;
  background: transparent;
  width: 240px;
  border-left: 16px solid #3b404a;
  border-right: 16px solid #3b404a;
  height: 320px;
  border-top: 36px solid #3b404a;
  border-bottom: 36px solid #3b404a;
  box-sizing: border-box;
  transform-origin: 0 0 0;
}
/* line 346, ../sass/main.scss */
#responsive .iphone {
  width: 104px;
  height: 184px;
  border-left: 8px solid #3b404a;
  border-right: 8px solid #3b404a;
  border-top: 32px solid #3b404a;
  border-bottom: 32px solid #3b404a;
  border-radius: 10px;
  box-sizing: border-box;
  transform-origin: 0 0 0;
}
/* line 359, ../sass/main.scss */
#responsive .copy {
  border: 2px solid #6E96BB;
  border-radius: 10px;
  color: #6E96BB;
  position: fixed;
  left: 1000px;
  top: 100px;
  font-size: 22px;
  text-align: center;
}
/* line 369, ../sass/main.scss */
#responsive .copy.intro {
  padding: 2em;
  width: 350px;
}
/* line 374, ../sass/main.scss */
#responsive .copy.on-device {
  padding: 1em;
  width: auto;
}

/* line 382, ../sass/main.scss */
#tools {
  background-image: url('../img/goldengate.jpg?1411971663');
  background-position: center;
  background-size: cover;
}
/* line 388, ../sass/main.scss */
#tools .tool-logo {
  width: 150px;
  position: absolute;
  border: 5px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 50%;
  background: #fff;
}
/* line 397, ../sass/main.scss */
#tools .copy {
  width: 450px;
  height: 200px;
  margin-bottom: 50px;
  position: absolute;
  right: 150px;
  top: 150px;
  margin-left: -225px;
  font-size: 2em;
  margin-top: -100px;
  display: table-cell;
  vertical-align: middle;
}
